/* You can add global styles to this file, and also import other style files */
* {
  font-family: Roboto, "Courier New", Courier, monospace;
}

body {
  margin: 0px;
}

.container {
  padding: 5px;
}

@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/Roboto-Medium.ttf");
}
